* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 :root {
    --cor-fonte-principal: #0000008c;
    --cor-fonte-secundaria: #03c9d1;
    --font-principal: 'Source Sans 3', sans-serif;
}

body {
    font-family: var(--font-principal);
}

.container {
    width: 100%;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    height: 60px;
    padding: 0 30px;
    background-color: var(--cor-fonte-secundaria);

}

.logo-link {
    width: 7.5rem;
    height: 100%;
}

.logo-img {
    width: 100%;
}

.nav-toggle {
    position: absolute;
    width: 1px; height: 1px;
    margin: -1px; border: 0; padding: 0;
    clip-path: inset(50%);
    overflow: hidden;
}

.hamburguer {
    display: flex;
    align-items: center; 
    justify-content: center;
    flex-direction: column;
    width: 22px;
    cursor: pointer;
}

.hamburguer .bar {
    display: block;
    width: 22px; height: 2px;
    margin: 3px 0;
    background: #fff;
    transition: transform .25s ease, opacity .2s ease;
}

.nav-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 60px;
    right: 0;
    overflow: hidden;
    background: var(--cor-fonte-secundaria);
    max-height: 0;
    transform: translateY(-6px); /* leve subida para animar entrada */
    transition: max-height .3s ease, transform .3s ease;
}

.nav-menu a {
    padding: .4rem .625rem;
}

.nav-toggle:checked ~ .nav-menu {
    max-height: 220px;
    transform: translateY(0);
    transition-delay: 0s;

}

.nav-toggle:checked + .hamburguer .bar:nth-child(1) {
  transform: translateY(12px) rotate(45deg);
}
.nav-toggle:checked + .hamburguer .bar:nth-child(2) {
  opacity: 0;  /* barra do meio some */
}
.nav-toggle:checked + .hamburguer .bar:nth-child(3) {
  transform: translateY(-4px) rotate(-45deg);
}

.nav-link {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s ease;
}

.nav-link:hover {
    color: var(--cor-fonte-principal);
    transition: color 0.3s ease;
}